<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".widgets.TasksWidgetProvider"
            android:label="@string/widget_tasks_title"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="io.github.f4rsantos.organizer.widgets.TOGGLE_TASK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_tasks_info" />
        </receiver>

        <receiver
            android:name=".widgets.CalendarWidgetProvider"
            android:label="@string/widget_calendar_title"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="io.github.f4rsantos.organizer.widgets.CALENDAR_SHIFT" />
                <action android:name="io.github.f4rsantos.organizer.widgets.CALENDAR_VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_calendar_info" />
        </receiver>

        <receiver
            android:name=".widgets.KanbanWidgetProvider"
            android:label="@string/widget_kanban_title"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="io.github.f4rsantos.organizer.widgets.MOVE_CARD" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_kanban_info" />
        </receiver>

        <receiver
            android:name=".widgets.AgendaWidgetProvider"
            android:label="@string/widget_agenda_title"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_agenda_info" />
        </receiver>

        <receiver
            android:name=".widgets.GoalsWidgetProvider"
            android:label="@string/widget_goals_title"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="io.github.f4rsantos.organizer.widgets.CHECK_IN_GOAL" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_goals_info" />
        </receiver>

        <activity
            android:name=".widgets.SummaryConfigActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widgets.PomodoroWidgetProvider"
            android:label="@string/widget_pomodoro_title"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="io.github.f4rsantos.organizer.widgets.TOGGLE_FOCUS" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_pomodoro_info" />
        </receiver>

        <receiver
            android:name=".widgets.SummaryWidgetProvider"
            android:label="@string/widget_summary_title"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_summary_info" />
        </receiver>

        <service
            android:name=".widgets.TasksWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <service
            android:name=".widgets.AgendaWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <service
            android:name=".widgets.GoalsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
